body{
  text-align: center;
  background-image: url('space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
}
h1{
  font-family: 'Righteous', cursive;
  color: #FFFFFF;
  font-size: 115px;
  text-shadow: 0px 0px 25px rgba(41, 234, 80, 1);
}
.form-control{
  background-color: #000000;
}
div.inputs{
  padding-top: 8px;
  display: block;
  width: 175px;
  margin: 0 auto;
}
input{
  margin: 3px 0 0 0;
}
label{
  font-size: 17px;
  color: #FFFFFF;
  margin: 3px 0 0 0;
}
button{
  margin: 10px 0 0 0;
}
table {
  background-color: rgba(0,0,0,.63);
}
.table{
  font-family: Helvetica;
  color: #B5B5B5;
}
.form-control{
  background-color: rgba(0, 0, 0, 0.25);
}
thead{
  font-size: 17px;
  color: #FFFFFF;
}